<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.AdminUserDAO">
	
	<!-- 관리자 회원리스트 불러오기 -->	
	<select id="getMemberList" resultType="UserVO">
		SELECT *
		FROM USERS
	</select>

	<!-- 관리자 회원 삭제  -->
	<delete id="deleteUsers">
		DELETE FROM USERS
		WHERE email IN 
		<foreach item="email" collection="email" open="(" separator="," close=")">
        #{email}
    	</foreach>
	</delete>
	
</mapper>
